@model IEnumerable< HeartHotel.Models.Programs>
@{
    TimeSpan firstTime = TimeSpan.Parse("00:00"), lastTime = TimeSpan.Parse("00:00");
    var i = 0; 
    var j=0;
}

<table class="table table-striped">
    <thead style="white-space: nowrap;">
        <tr>
            <th>#</th>
            <th>ساعت</th>
            <th>برنامه</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var program in Model)
        {
            TimeSpan currentFirstTime = TimeSpan.Parse(program.ProgramConductors.FirstOrDefault()?.SaatAz ?? "00:00");
            TimeSpan currentLastTime = TimeSpan.Parse(program.ProgramConductors.LastOrDefault()?.SaatTa ?? "00:00");
            j++;
            if (firstTime == TimeSpan.Parse("00:00"))
            {
                <tr>
                    <td>@j</td>
                    <td></td>
                    <td>نمایش نام سالن</td>
                    <td>
                        @* <a class="btn btn-primary w-100" role="button" onclick="addGap('0')"><i class="fa fa-plus"></i></a> *@
                        <a class="text-primary" role="button" onclick="addGap('0')"><i class="fa fa-plus"></i></a>
                    </td>
                </tr>
            }
            else
            {
                if (currentFirstTime > lastTime)
                {
                    var times = $"{currentFirstTime.Hours:D2}:{currentFirstTime.Minutes:D2} - {lastTime.Hours:D2}:{lastTime.Minutes:D2}";
                    <tr>
                        <td>@j</td>
                        <td class="text-nowrap">@times</td>
                        <td>نمایش نام سالن</td>
                        <td>
                            @* <a class="btn btn-primary w-100" role="button" onclick="addGap('@times')"><i class="fa fa-plus"></i></a> *@
                            <a class="text-primary" role="button" onclick="addGap('@times')"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                }
            }

            j++;
            <tr>
                <td>@j</td>
                <td class="text-nowrap">@($"{currentLastTime.Hours:D2}:{currentLastTime.Minutes:D2} - {currentFirstTime.Hours:D2}:{currentFirstTime.Minutes:D2}")</td>
                <td>@program.Name</td>
                @{
                        firstTime = TimeSpan.Parse(program.ProgramConductors.FirstOrDefault()?.SaatAz ?? "00:00");
                        lastTime = TimeSpan.Parse(program.ProgramConductors.LastOrDefault()?.SaatTa ?? "00:00");
                    }
                @if (program.ThemeId == 0) {
                        <td class="d-flex gap-5">
                            @* <a class="btn btn-primary w-100" role="button" onclick="changeGap('@program.Id', '@program.ThemeId', '@($"{currentLastTime.Hours:D2}:{currentLastTime.Minutes:D2} - {currentFirstTime.Hours:D2}:{currentFirstTime.Minutes:D2}")')"><i class="fa fa-refresh"></i></a>
                            <a class="btn btn-secondary w-100" role="button" onclick="deleteProgram('@program.Id')"><i class="fa fa-trash-can"></i></a> *@
                            <a class="text-primary" role="button" onclick="changeGap('@program.Id', '@program.ThemeId', '@($"{currentLastTime.Hours:D2}:{currentLastTime.Minutes:D2} - {currentFirstTime.Hours:D2}:{currentFirstTime.Minutes:D2}")')"><i class="fa fa-refresh"></i></a>
                            <a class="text-secondary" role="button" onclick="deleteProgram('@program.Id')"><i class="fa fa-trash-can"></i></a>
                        </td>
                } else {
                    i++;
                    <td class="d-flex gap-5">
                        @* <a class="btn btn-primary w-100" href="/Conductors/Edit/@(program.Id)"><i class="fa fa-pen-line"></i></a>
                        <a class="btn btn-secondary w-100" role="button" onclick="deleteProgram('@program.Id')"><i class="fa fa-trash-can"></i></a>
                        <a class="btn btn-warning w-100" role="button" onclick="showDetails('#details@(i)', '@program.Name')"><i class="fa fa-list"></i></a> *@
                        <a class="text-primary" href="/Conductors/Edit/@(program.Id)"><i class="fa fa-pen-line"></i></a>
                        <a class="text-secondary" role="button" onclick="deleteProgram('@program.Id')"><i class="fa fa-trash-can"></i></a>
                        <a class="text-warning" role="button" onclick="showDetails('#details@(i)', '@program.Name')"><i class="fa fa-list"></i></a>
                        @* <a class="btn btn-primary w-100" href="/Screen/Show@(program.ThemeId)/@(program.Id)">نمایش برنامه در مانیتور</a> *@
                        <div id="details@(i)" class="d-none">
                            <div class="text-center">
                                @program.ShowDate
                            </div>      
                            <table class="table table-striped">
                                <thead style="white-space: nowrap;">
                                    <tr>
                                        <th>اجرا</th>
                                        <th>ساعت</th>
                                        <th>توضیحات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var conductor in program.ProgramConductors)
                                    {
                                        <tr>
                                            <td>@conductor.Name</td>
                                            <td>@conductor.SaatAz - @conductor.SaatTa</td>
                                            <td>@conductor.Description</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>       
                        </div>      
                    </td>
                }
            </tr>
        }

        @{j++;}
        
        <tr>
            <td>@j</td>
            <td></td>
            <td>نمایش نام سالن</td>
            <td>
                <a class="text-primary" role="button" onclick="addGap('0')"><i class="fa fa-plus"></i></a>
            </td>
        </tr>

    </tbody>
</table>           
